<div class="w-100 h-32 flex flex-col justify-between">
  <ul class="flex flex-row w-100 justify-center">
    <li class="text-white w-20 text-center">
      <a href="/news">ニュース</a>
    </li>
    <li class="text-white w-20 text-center">
      <a href="/blog">ブログ</a>
    </li>
    <li class="text-white w-20 text-center">
      <a href="/posts/all/1">ページネーション</a>
    </li>
  </ul>
  <p class="text-white text-center">©copyright</p>
</div>