<div class="headerWrap">
  <div class="headerNav">
    <h1 class="logoTitle">MPA</h1>
    <nav>
      <ul class="navWrapper">
        <li><a href="/">TOP</a></li>
        <li><a href="/react">React</a></li>
        <li><a href="/vue">Vue</a></li>
        <li><a href="/svelte">Svelte</a></li>
        <li><a href="/solid">Solid</a></li>
        <li><a href="/alpine">Alpine</a></li>
        <li><a href="/htmx">Htmx</a></li>
      </ul>
    </nav>
  </div>
</div>

<style>
  .headerWrap {
    display: flex;
    justify-content: center;
  }

  .headerNav {
    display: flex;
    width: 100%;
    max-width: 800px;
    color: #fff;
    justify-content: space-between;
    aling-item: center;
  }

  .logoTitle {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .navWrapper {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;
  }

  .navWrapper li {
    margin: 0;
  }

  .navWrapper li a {
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 42px;
    color: #fff;
    text-decoration: none;
  }
</style>
